/* 

Styles:		blankenship.xyz

origin: 	1.0 — 12/10/19
version: 	3.0 — 01/12/23 Update
author: 	Joshua Blankenship
email: 		joshua@blankenship.xyz
website: 	http://blankenship.xyz
          

*/

#bio p span {
	display: inline-block;
	background: #ddd;
	border-radius: 3px;
	font: 600 .5rem/.5rem "neue-haas-unica", sans-serif;
	letter-spacing: .015rem;
	padding: .25rem;
	text-transform: uppercase;	
}

#bio p span.cs {
	background: goldenrod;
	color: #fff;
}

#bio p span.forsale {
	background: tomato;
	color: #fff;
}

#bio p span.tbd {
	background: rebeccapurple;
	color: #fff;
}