/* 

Styles:		blankenship.xyz

origin: 	1.0 — 12/10/19
version: 	3.0 — 01/12/23 Update
author: 	Joshua Blankenship
email: 		joshua@blankenship.xyz
website: 	http://blankenship.xyz
          

*/

#bio li span {
	display: inline-block;
	background: #ddd;
	border-radius: 3px;
	font: 600 .5rem/1.3rem "neue-haas-unica", sans-serif;
	letter-spacing: .015rem;
	padding: .25rem .5rem;
	text-transform: uppercase;	
}

#bio li span.cs {
	background: goldenrod;
	color: #fff;
}

#bio li span.forsale {
	background: tomato;
	color: #fff;
}

#bio li span.tbd {
	background: rebeccapurple;
	color: #fff;
}

#bio ul {
	border-top: 1px solid #ddd;
}

#bio li {
	border-bottom: 1px solid #ddd;
	padding: 1rem;
}