/* 

Styles:		blankenship.xyz

origin: 	1.0 — 12/10/19
version: 	3.0 — 01/12/23 Update
author: 	Joshua Blankenship
email: 		joshua@blankenship.xyz
website: 	http://blankenship.xyz
          

/* FOUNDATION */

	*, html, body, div, span, object, iframe,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li, img, figure, figcaption,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		box-sizing: border-box;
		font-smoothing: antialiased;
		margin: 0;
		padding: 0;
		outline: none;
		}

	* {
		margin: 0;
		padding: 0;
	}

	html {
    	font-size: 16px;
	}

	@media(min-width:700px) {
	    html {
	        font-size: 16px
	    }
	}

	@media(min-width:1200px) {
	    html {
	        font-size: 17px
	    }
	}

	@media(min-width:1400px) {
	    html {
	        font-size: 18px
	    }
	}

	body {
		color:  #0a2540;
		line-height: 1.5;
		background: white;
		margin:  0 auto;
		padding: 3rem 6rem;
		max-width: 1500px;
	}

	header {
		margin: 0 auto;
		padding: 0 6rem;
		width: 60%;
	}

/* TYPOGRAPHY */

	ul {
	    list-style-type: none;
	}

	header aside {
		color:  #15be53;
		font:  800 normal 4rem/4rem "swear-display-cilati", serif;
		text-align: center;
	}

  	h1 {  
 		font: 500 italic 2rem/2.5rem "swear-display", serif;
		text-align: center;
		padding: 2rem 0 4rem;
	}

	h1 em {  
 		font: 600 normal 1.8rem/2.5rem "neue-haas-unica", sans-serif;
 		letter-spacing: -0.035rem;
 		display: block;
	}

	a { 
		color: #0a2540;
		display: inline-block;
		text-decoration: none;
	}

	a:hover { 
		color: silver;	
	}	


/* SECTION -- DEM GRIDS */

	section {
		margin:  0 auto 10rem;
	}

	section#newnew ul {
	    display: grid;
	    grid-template-columns: 30% 30% 30%;
	    grid-gap: 5%;
	}

	section#newnew figcaption {
		padding-top: 1rem;
		text-align: center;
	}

	section#newnew figcaption a {
		display:  block;
	}

	section ul li {
		margin-bottom: 2rem;
	}

	section figure img { 
		border-radius: 3px;
		display: block;
		width: 100%;
		box-shadow: 0 0.938em 2.188em rgba(50,50,93,.1), 0 0.313em 0.938em rgba(0,0,0,.07);	
	}

	section p {
 		color:  #425466;
 		font: 500 italic 1.1rem/1.3rem "swear-text", serif;
	}

	section p a {
		font: 600 1.1rem/1.3rem "neue-haas-unica", sans-serif;
 		letter-spacing: -0.015rem;
 		margin-bottom: .5rem;
	}

	figure a:hover { opacity: 75%; }

/* SECTION -- FOOTER */

	footer {
		border-top: 1px solid #0a2540; 
		margin-bottom: 10rem;
		display: grid;
		font: 600 .9em/2rem "neue-haas-unica", sans-serif;
		grid-template-columns: 50% 50%;
		padding: 0;
	}

	footer .copyright {
	}

	footer .bye {
		text-align: right;
	}

/* WEE SCREENS */

		@media (min-width: 801px) and (max-width: 1000px) {


		}

		@media (min-width: 100px) and (max-width: 800px) {

body {
		padding: 2rem;
	}

h1 {  
 		font: 500 italic 1.2rem/1.6rem "swear-display", serif;
		padding: 1rem 1rem 4rem;
	}

	h1 em {  
 		font: 600 normal 1.2rem/1.6rem "neue-haas-unica", sans-serif;
	}

	header {
		margin: 0 auto;
		padding: 0;
	}


section#newnew ul {
	    display: block;
	}

section#newnew li {
		    margin-bottom: 4rem;
}
		
		}


/* 2021 */

	