/* 

Styles:		blankenship.xyz/urls

origin: 	1.0 — 12/10/19
version: 	3.0 — 01/12/23 Update
author: 	Joshua Blankenship
email: 		joshua@blankenship.xyz
website: 	http://blankenship.xyz
          

*/

#urls {
	text-align: center;
}

#urls li {
	display: inline-block;
	font: 600 1.5rem/1.5rem "neue-haas-unica", sans-serif;
	letter-spacing: -0.015rem;
	margin: 0 1rem 1rem;
	padding: 1rem;
}

#urls li span {
	display: inline-block;
	font: 800 .5rem/.5rem "neue-haas-unica", sans-serif;
	margin-right: 1rem;
	letter-spacing: .125rem;
	text-transform: uppercase;
}

#urls li.tag 		{ background: black; color: rgba(255,255,255,.5); }
#urls li.con 		{ background: goldenrod; }
#urls li.forsale 	{ background: mediumseagreen; }
#urls li.idea 		{ background: tomato; }
#urls li.tbd 		{ background: cornflowerblue; }
