/* 

styles:		/digital

origin: 	1.0 — 01/01/22
version: 	1.1 — 08/12/22 Update
author: 	Joshua Blankenship
email: 		joshua@blankenship.xyz
website: 	http://blankenship.xyz

/*--FOUNDATION */

	*, html, body, div, span, object, iframe,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li, img, figure, figcaption,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased; 
		font-smoothing: antialiased;
		margin: 0;
		padding: 0;
		outline: none;
		}

	html {
    	font-size: 16px;
	}

	body {
		background: darkgray;
		color: gray;
		line-height: 1.5;
		margin: 0 auto;
		padding: 5rem;
		max-width: 3000px;
	}

/*--TYPOGRAPHY */

	h1,
	h2,
	h3 {
		font: 300 10em/1em "dharma-gothic-c", sans-serif;
		text-transform: uppercase;
  	}

	a { 
		color: gray;
		display: inline-block;
		text-decoration: none;
	}

	a:hover { 
		color: white;	
	}

	h1 a { color: gray; }
	
	header h2,
	footer h3:last-child { 
		text-align: right;
	}

/*--BONES */

	section {
		border-top: 2px solid gray; 
		border-bottom: 2px solid gray; 
		column-count: 3;
		column-gap: 6rem;
		column-width: 33.3333%;
		padding: 6rem 0 0;
	}

	img { 
		border: 2px solid white;
		border-radius:  3rem;
		padding: 4rem 0;
		margin-bottom: 6rem;
		max-width: 100%; 
		min-width: 100%; 
	}

	header,
	footer {
		display: grid;
		grid-template-columns: 65% 35%;
	}

/* SCRUNCH */

	@media (min-width: 2000px) and (max-width: 3000px) {

		section {
			column-count: 4;
			column-gap: 6rem;
			column-width: 25%;
		}	
	}

	@media (min-width: 801px) and (max-width: 1200px) {

		section {
			column-count: 2;
			column-gap: 4rem;
			column-width: 50%;
		}		

		h1,
		h2,
		h3 {
			font: 900 7em/1em "dharma-gothic-c", sans-serif;
	  	}
	}

	@media (min-width: 1px) and (max-width: 800px) {

		body {
			padding: 2rem;
		}

		section {
			column-count: 1;
			column-gap: 0;
			column-width: 100%;
		}


		h1,
		h2,
		h3 {
			font: 900 3.2em/1em "dharma-gothic-c", sans-serif;
	  	}
	}2